<form action="/authors/add" method="post">
    <label for="firstName">First Name</label>
    <input type="text" name="firstName" id="">

    <label for="lastName">Last Name</label>
    <input type="text" name="lastName" id="">

    <label for="nationality">Nationality</label>
    <input type="text" name="nationality" id="">

    <label for="birthdate">Birthdate</label>
    <input type="date" name="birthdate" id="">

    <label for="pictureUrl">Picture URL</label>
    <input type="text" name="pictureUrl" id="">

    <button type="submit">Add</button>
</form>